.notebook
.vscode
.pdf
/data
Apress.Hands-on.Scikit-Learn.for.Machine.Learning.Applications.1484253728.pdf
OReilly.Hands-On.Machine.Learning.with.Scikit-Learn.Keras.and.TensorFlow.2nd.Edition.1492032646.pdf